{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Multinacional TI das Coisas.<br />
    Rua da Santa Padroeira de Isaque meier, 2125<br />
    <abbr title="Telefone">Tel:</abbr>
    (+55) 11 98645-1265
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:tidascoisas.suporte@dascoisas.com">tidascoisas.suporte@dascoisas.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:timarketing@dascoisas.com">timarketing@dascoisas.com</a><br />
    <strong>Sujestão/Reclamação:</strong> <a href="mailto:tisujestoes.reclamacoes@dascoisas.com">tisujestoes.reclamacoes@dascoisas.com</a>
</address>

{% endblock %}
